web/bundles/*
src/GatotKaca/Erp/MainBundle/Resources/public/*
src/GatotKaca/SetupBundle/*
vendor/*
app/bootstrap*
app/cache/*
app/logs/*
docs/*
app/config/parameters.yml
build/
vendor
composer.phar
app/Resources/tools/yuicompressor.jar
app/yui.sh
*.*~
*.txt
*.csv